////desktop
nav#custom-responsive-nav {
  float: left;
  width: 100%;
  background: transparent;
  top: 70px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  z-index: 8;

  .flex-container {
    align-items: center;
    justify-content: center;

    .mobile-menu-background {
      display: none;
    }

    a.link {
      z-index: 1;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      line-height: 40px;
      text-transform: inherit;
      font-size: 16px;
      padding: 0px 20px;
      position: relative;
      letter-spacing: 4px;

      &:hover {
        background: rgba(0, 0, 0, 0.664);
      }
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
      text-transform: inherit;

      a.link {
        &:after {
          content: "";
          position: relative;
          transform: rotate(45deg);
          border-style: solid;
          border-width: 0 4px 4px 0;
          display: inline-block;
          padding: 4px;
          top: -3px;
          right: -6px;
        }
      }

      .dropdown-menu {
        display:none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 150px;
        z-index: 99;
        padding: 0;
        padding-top: 10px;
        text-transform: inherit;
        &.open{
          display:initial;
        }
      }

      .dropdown-link {
        display: block;
        text-decoration: none;
        cursor: pointer;
        line-height: 30px;
        padding: 0px 20px;
        letter-spacing: 2px;

        &:hover {
          background: rgba(0, 0, 0, 0.664);
        }
        .line{display:none;}
      }
    }
  }
}

nav#custom-responsive-nav:not(.no-highlight-on-nav):before{
  content:'';
  position:absolute;
  top:-30px;
  width:100%;
  height:400px;
  pointer-events:none;
  background: #000000;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.56) 0%, rgba(255, 255, 255, 0) 100%);

}






nav#custom-responsive-nav.open {
  display: flex;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 46%) 0%, rgb(0 0 0 / 33%) 100%);
}

@media (max-width: 768px) {
    nav#custom-responsive-nav {
      display: none;
      // top: 40px;
      // height: calc(100% - 40px);
      top: 0px;
      height: 100%;
      margin-top: 0;
      position: fixed;

      .flex-container {
        flex-direction: column;
        margin-top: 0px;
        height: 100%;
        width:100%;
        padding-bottom: 30px;

        .mobile-menu-background {
          display: block !important;
        }

        a.link {
            color: #fff;
            font-size: 20px;
            text-align: center;
            text-align:center;

            &:hover{background:unset;}

          }

        .dropdown-container {
          position: relative;
          display: inline-block;
          text-transform: inherit;
          width:100%;
          text-align: center;

          a.link:after{
              border-color: #fff;
          }
          

          .dropdown-menu {
            padding-top: 30px;
            padding-bottom: 30px;
            position:relative;
            clear:both;
            float:left;
            top:0;
            width:100%;

            .dropdown-link{
                color: #fff;
                font-size: 20px;
                text-align: center;
                text-transform: lowercase;
                .line{
                  display:inline; 
                }

            }
          }

          &.smaller .dropdown-menu{
              padding-top: 10px;
              padding-bottom: 10px;

              .dropdown-link{
                font-size: 15px;
                .line{
                  display:none; 
                }
                
            }
          }

        }
        
      }
    }
  
}

.nav-mobile {
  display: none;
  position:absolute;
  z-index: 99;
  top:50px;
  left:10px;
  padding: 18px 12px;
  background: rgb(0 0 0 / 34%);

  .main-nav-toggle {
    display: block;
    width: 36px;
    height: 24px;
    top: 0px;
    left: 0px;
    position: relative;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 4px solid #cefb08;
      width: 100%;
      left: 0;
      right: 0;
      transition: all ease-out 0.1s;
    }

    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 4px;
      background-color: #cefb08;
      width: 100%;
      position: absolute;
      top: 50%;
      // transition: all ease-out 0.1s;
    }

    &.active-menu {
      &:after {
        transform: rotate(-45deg);
        transform-origin: center;
        top: 50%;
        // border-color: #ffffff !important;
      }

      &:before {
        transform: rotate(45deg);
        transform-origin: center;
        top: 50%;
        // border-color: #ffffff !important;
      }

      i {
        opacity: 0;
        // background-color: #ffffff !important;
      }
    }
  }

  @media (max-width: 768px) {
    display: block;
    &.scrolled-past-100vh{
      top:10px;
      background: rgba(0, 0, 0, 0.64);
      position:fixed;
    }
  }
}

body.mobile-nav-open{

  #nav-mobile{
    position: fixed;
  }

  &.is-scrolled{
    #nav-mobile{
      top:10px;
    }
    #custom-responsive-nav{
      background: rgba(0, 0, 0, 0.80);
    }
  }

  .logo{
    display:none;
  }
  h2.event-date{
    display:none;
  }
}
