// globals.scss


@use '_modern-normalize' as *;

@use '_utils' as *;
@use 'typed' as *;

html{
  height:100%;
  width:100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  min-height: 100%;
  height:100%;
  width:100%;
  background-color: #000;
}


.font-safiro {
  font-family: var(--font-lora);
}

.font-default {
  font-family: Arial, sans-serif;
}


body.still-loading{
  .hide-while-still-loading{
    opacity:0 !important;
  }
}

.hide-while-still-loading{
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

div.animation {
  color:#fff;
  
  text-align: center;
  top: calc(50vh + 90px);
  line-height:60px;
  height:60px;
  font-size: 60px;
  width:100%;
  display:inline-block;
  position: absolute;

  &:before{
    display: inline-block;
    position: relative;
    height: 60px;
    font-size:inherit !important;
    font-weight:inherit !important;
  }

  &:after{
    position:absolute !important;
    top:0;
  }

      @include typed(
        (
          "<[15]>ux.studio.sibiu<[15]>@gmail.com": (
            text-transform:lowercase,
            font-weight: 700,
            font-size:60px,
            
          ),
          // "CREATIVE WEBSITES": (
          //   font-weight: 700,
          //   font-size:60px
          // )
          
        ),
        (null, 1.2, 0.001),
        (
          iterations: 0,
          // end-on: (
          //   "<[15]>ux.studio.sibiu<[15]>@gmail.com": ( 
          //   font-size: 60px,
          //   caret: false,
          //   )
          // ),
          caret-speed: 1,
          caret-width: 4px,
          caret-color: rgb(255, 255, 255),
          caret-space: 2px
        )
      );
    }
