

.namespace-container {
  height: 100%;
  width: 100%;

  :global {
    div.studio-name {
      width: 100%;
      text-align: center;
      font-size: 150px;
      color: #fff;
      font-weight: 600;
    }

    div.studio-mission {
      width: 100%;
      text-align: center;
      font-size: 180px;
      color: #fff;
      font-weight: 600;
    }

    div.studio-contact {
      width: 100%;
      text-align: center;
      font-size: 30px;
      color: #fff;
      font-weight: 600;
    }

    
  }
}