.namespace-container{
  height:100%;
  width:100%;

   :global{
    div.section{
        width:50%;
        height: 100%;
        height: 100dvh;
        float:left;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow:hidden;

        canvas{position:absolute; top:0;z-index: -1;}

        &.section-sibiu{
          border-right: 2px solid #fff;
        }
        &.section-valcea{
          border-left: 2px solid #fff;
        }

        a.btn.btn-primary{
          border: 2px solid #fff;
          color: #fff;
          background: #00000047;
          height: 50px;
          border-radius:25px;
          line-height:46px;
          width: 180px;
          position: absolute;
          top: calc(50% + 200px);
          left: calc(50% - 90px);
          text-transform: uppercase;
          text-align: center;
          overflow:hidden;
          // padding: 8px;
          &:hover{background:#00000081;}

        }

        img{ z-index:-1;}

        .title{
            display:block;
            width:330px;
            height:160px;
            margin: 0 auto;
            top:40%;
            top: calc(50% - 80px);
            left: calc(50% - 160px);
            position:absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size:contain;

        } 

    }

    .logos{
      position:relative;
      width: 330px;
      top:15%;
      margin: 0 auto;
      .oar{
        float:left;
          width:160px;
          height:60px;
          background-repeat: no-repeat;
          background-position: center;
          background-size:contain;

      }
      .timbru{
        margin-left:50px;
         float:left;
          width:100px;
          height:60px;
          background-repeat: no-repeat;
          background-position: center;
          background-size:contain;
      }

      .has-label:after{
            content:attr(data-label);
            position:absolute;
            top:-30px;
            color: #fff;
            font-size:15px;
          }

    }

    @media (max-width: 768px) {
      div.section{
        width:100%;
        float:left;

        a.btn.btn-primary{
          height: 35px;
          line-height: 35px;
          width: 130px;
          font-size: 12px;
          top: calc(50% + 80px);
          left: calc(50% - 65px);

        }


        &.section-sibiu{
          border-bottom: 1px solid #fff;
          border-right: 0;
          height: calc(50dvh - 30px);
        }
        &.section-valcea{
          border-top: 1px solid #fff;
          border-left: 0;
          height: calc(50dvh - 30px);
          bottom:0;
        }

        .title{
            width: 150px;
            height: 110px;
            width: 130px;
            left: calc(50% - 65px);
            height: 70px;
            margin: 0 auto;
            top: calc(50% - 35px);
            // margin-left: calc(50% - 80px);

        }
        

      }
      div.section.section-logos{
        width: 100%;
        height:60px;
        padding-bottom:5px;
        border-bottom: 2px solid #fff;
        background: rgb(0, 0, 0);
        padding: 15px 0px;

        .logos{
          position:relative;
          display: block;
          width:340px;
          top:0;
          margin: 0 auto;
          
          

          a{margin-right:30px}
          a:last-of-type{margin-right:0px}

          .oar{
              width:100px;
              height: 35px;
              

          }
          .timbru{
              width:80px;
              height: 35px;
              margin-left:0px;
          }

          .has-label:after{
            
                top:-10px;
                font-size:7px;
              }

        }
      }
    }


    @media (max-width: 360px) {
      div.section.section-logos{
        padding-top:20px;
        .logos{
          width:260px;
          a{margin-right:20px}
          a:last-of-type{margin-right:0px}

          .oar{
              width:80px;
              height: 28px;
              

          }
          .timbru{
              width:60px;
              height: 28px;
              margin-left:0px;
          }

          .has-label:after{
                      font-size:6px;
            }

            }
      }
    }

   }
   

}
